<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Note Management Application By Sergiy Koyev</span>
    </h1>
  </div>

  <div clas="cotainer">
      <form class="form-inline">
        <div class="form-group mb-3">
          <input type="text" readonly class="form-control-plaintext" id="keyword" value="Note Keywords:">
        </div>

        <div class="form-group mb-3">
          <input type="text" class="form-control" id="inputKeyword" #keywords placeholder="Keywords: key1, key2, key3">
        </div>

        <button type="button" class="btn btn-primary mb-2" (click)="onSearchTasks(keywords.value)" style="margin-top:-10px; margin-left: 25px;" >Search</button>
      </form>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Note Name</th>
        <th scope="col">Note Details</th>
        <th scope="col">Note Keywords</th>
        <th scope="col">Note Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
         <tr *ngFor="let task of tasks">
           <td>{{task.name}}</td>
           <td>{{task.details}}</td>
           <td>{{task.keywords}}</td>
           <td>{{task.date}}</td>
           <td><button type="button" (click)="onView(task)" class="btn btn-primary" style="margin-right:10px;">View</button><button type="button" class="btn btn-primary" data-toggle="modal" (click)="onDelete(task)" data-target="#deleteModal">Delete</button></td>
        </tr>
    </tbody>
  </table>

  <div class="jumbotron text-center">
    <td><button type="button" (click)="onNewTask()" class="btn btn-primary" style="margin-right:10px;">Add Note</button></td>
  </div>
</div>
</div>
